.container {
  width: 100%;
  height: calc(100% - 60px);
  background-color: #eae7e7;
  padding: 40px 150px;
}

.page_title {
  font-size: 23px;
  color: #535151;
  margin-bottom: 30px;
}

.main {
  width: 100%;
  display: flex;
}

.left_section {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.image_conatiner {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.update_btn {
  width: 200px;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
}

.right_section {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
}

.info_container {
    margin-bottom: 20px;
}

.info_label {
    font-size: 18px;
}

.info_value {
    font-size: 21px;
    font-weight: 600;
}